---
layout: page
title: 归档
comments: false
---
{% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
<nav class="chip-cloud" aria-label="年份">
  {% for year in years %}
  <a class="chip chip--lg" href="#y{{ year.name }}">{{ year.name }}<span class="chip__count">{{ year.size }}</span></a>
  {% endfor %}
</nav>

{% for year in years %}
<section class="term" id="y{{ year.name }}">
  <h2 class="term__title">{{ year.name }} <span class="term__count">{{ year.size }}</span></h2>
  <ul class="link-list">
    {% for post in year.items %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
